* {
    font-family: monospace;
}

.container {
    width: 480px;
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 10px;
    grid-template-areas:
    "area area"
    "area area"
    "area area";
    margin: auto;
    padding: 15px;
    background-color: ghostwhite;

}

p {
    font-size: 18px;
}

label {
    font-size: 12px;
    margin: 5px;
}

button {
    border: none;
    padding: 10px;
}

header {
    text-align: center;
}

input[type="range"] {
    outline: none;
    
    
}

.clicked {
    color: white;
    background-color: rgb(92, 98, 105);
    
}

body {
    background-color:rgb(92, 98, 105);
}

footer {
    color: ghostwhite;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

button:active {
    color: white;
    background-color: rgb(92, 98, 105);
}