* {
    font-family: monospace;
}

.container {
    width: 480px;
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 20px;
    grid-template-areas:
    "area area"
    "area area"
    "area area";
    margin: auto;
    padding: 30px;

}

p {
    font-size: 18px;
}

label {
    font-size: 12px;
    margin: 5px;
}

button {
    border: none;
    padding: 10px;
}

header {
    text-align: center;
}

